.footer--container { 
    background-color: #e9cfce;
    padding-bottom: 2rem;
}

.footer--container img {
    display: block;
    width: 100%;
    max-width: 170px;
    margin: auto;
}

.footer--container p {
    text-align: center;
}